.created{
    background-color: palegoldenrod;
    color: blue;
    font-size: xx-large;
}
.time{
    position: absolute;
    top: 64px;
    font-size: 12px;
}
#canvas_div{
    position:absolute;
    top: 93px;
}
.pageButton{
    font-size: 24px;
    padding: 14px 20px;
    transition-duration: 0.4s;
    float: left;
    border: 1px solid#000000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #B5C99A;
}
.pageButton:hover {
    background-color:#CFE1B9; /* Green */
  }
#darken{
    height:1000px;
    width: 10000px;
    background-color: rgb(38, 37, 44);
    position:absolute;
    top: 0px;
    opacity: 0.5;
    z-index:1;
}
#event_interface{
    position: absolute;
    height:490px;
    width: 490px;
    top :50px;
    left: 390px;
    background-color: rgb(224, 241, 252);
    opacity: 1;
    z-index: 2;
    border:2px solid#000000;
}
#create_event{
    position:absolute;
    top:400px;
    left:20px;
}
